<%- include('template/header') %>

<%
let module;
for(let i=0; i<eternalloneliness.childs.length; i++){
  if(eternalloneliness.childs[i].id == moduleID){
    module = eternalloneliness.childs[i];
  }
}
%>

<div class="filelist container">
  <div class="filelist-module">
    <h2><%= module.name %></h2>
  </div>

  <%
  for(let i=0; i<module.childs.length; i++){
    let child = module.childs[i];
    if(child.childs.length > 0){
  %>

  <div class="folder">
    <div class="folder-name">
      <h3><i class="fas fa-folder"></i><%= child.name %></h3>
    </div>
    <div class="folder-content">

      <div class="file">
        <a class="file-name" href="#">
          <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
        </a>
        <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
      </div>
      <div class="file">
        <a class="file-name" href="#">
          <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
        </a>
        <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
      </div>
    </div>
  </div>

  <%
    }else{
  %>

  <div class="file">
    <a class="file-name" href="#">
      <h3><i class="fas fa-file"></i><%= child.name %></h3>
    </a>
    <a href="<%= child.url %>" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
  </div>

  <%
    }
  }
  %>

  <!--<div class="folder">
    <div class="folder-name">
      <h3><i class="fas fa-folder"></i> Name of the folder can be longer than long, and longer even</h3>
    </div>
    <div class="folder-content">

      <div class="file">
        <a class="file-name" href="#">
          <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
        </a>
        <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
      </div>
      <div class="file">
        <a class="file-name" href="#">
          <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
        </a>
        <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
      </div>
    </div>
  </div>

  <div class="folder">
    <div class="folder-name">
      <h3><i class="fas fa-folder"></i> Name of the folder</h3>
    </div>
    <div class="folder-content">

      <div class="folder">
        <div class="folder-name">
          <h3><i class="fas fa-folder"></i> Name of the folder</h3>
        </div>
        <div class="folder-content">
          <div class="file">
            <a class="file-name" href="#">
              <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
            </a>
            <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
          </div>
        </div>
      </div>

      <div class="file">
        <a class="file-name" href="#">
          <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
        </a>
        <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
      </div>
      <div class="file">
        <a class="file-name" href="#">
          <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
        </a>
        <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
      </div>
    </div>
  </div>

  <div class="file">
    <a class="file-name" href="#">
      <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
    </a>
    <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
  </div>
  <div class="file">
    <a class="file-name" href="#">
      <h3><i class="fas fa-file"></i> Name of the file can longer than long, of even longer</h3>
    </a>
    <a href="#" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
  </div>-->
</div>

<%- include('template/footer') %>
