<%- include('template/header') %>

<%
let module;
for(let i=0; i<eternalloneliness.childs.length; i++){
  if(eternalloneliness.childs[i].id == moduleID){
    module = eternalloneliness.childs[i];
  }
}
%>


<div class="filelist container">
  <div class="filelist-module">
    <h2><%= module.name %></h2>
  </div>

  <%
  function showFiles(child){
    if(child.childs.length > 0){
  %>

      <div class="folder">
        <div class="folder-name">
          <h3><i class="fas fa-folder"></i><%= child.name %></h3>
        </div>
        <div class="folder-content">
    <%
      for(let j=0; j<child.childs.length; j++){
        showFiles(child.childs[j]);
      }
    %>
    </div>
    </div>
    <%
    }else{
    %>
      <div class="file">
        <a class="file-name" href="#">
          <h3><i class="fas fa-file"></i><%= child.name %></h3>
        </a>
        <a href="<%= child.url %>" class="file-size"><i class="fas fa-download"></i> 3.2 Mo</a>
      </div>
    <%
    }
  }


  for(let i=0; i<module.childs.length; i++){
    let child = module.childs[i];
    showFiles(child);
  }
  %>

<%- include('template/footer') %>
